## Mini Project 2

Import required libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from nltk.tokenize import WordPunctTokenizer
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.model_selection import KFold

Load given datasets

In [ ]:
df_test = pd.read_csv('Consumer_Complaints_test.csv')
df_train=pd.read_csv('Consumer_Complaints_train.csv')

Print top 5 records of train dataset

In [ ]:
df_train.head(5)

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,2015-10-14,Credit reporting,NaN,Incorrect information on credit report,Information is not mine,NaN,NaN,Equifax,GA,30134,NaN,Consent not provided,Web,2015-10-14,Closed with explanation,Yes,No,1605653.0
1,2015-04-26,Bank account or service,Other bank product/service,Deposits and withdrawals,NaN,RE : XXXX XXXX XXXX-PRIVILEGED AND CONFIDENTIA...,NaN,Wells Fargo & Company,GA,319XX,NaN,Consent provided,Web,2015-04-26,Closed with explanation,Yes,Yes,1347613.0
2,2013-12-20,Credit card,NaN,Other,NaN,NaN,NaN,Citibank,SC,29203,NaN,NaN,Phone,2014-01-03,Closed with non-monetary relief,Yes,No,640394.0
3,2016-03-03,Debt collection,"Other (i.e. phone, health club, etc.)",Disclosure verification of debt,Not given enough info to verify debt,NaN,Company has responded to the consumer and the ...,"FAIR COLLECTIONS & OUTSOURCING, INC.",OH,43082,NaN,NaN,Referral,2016-03-04,Closed with explanation,Yes,No,1815134.0
4,2015-01-30,Debt collection,Medical,Disclosure verification of debt,Not given enough info to verify debt,NaN,NaN,"HCFS Health Care Financial Services, Inc.",CA,90036,NaN,NaN,Web,2015-01-30,Closed with explanation,Yes,Yes,1218613.0

Print top 5 records of test dataset

In [ ]:
df_test.head(5)

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Complaint ID
0,2015-01-17,Credit card,NaN,Customer service / Customer relations,NaN,NaN,NaN,Citibank,TX,75241,NaN,NaN,Web,2015-01-17,Closed with monetary relief,Yes,1198133
1,2016-06-22,Consumer Loan,Title loan,Payment to acct not credited,NaN,NaN,Company believes it acted appropriately as aut...,"Larsen MacColl Partners II, L.P.",TX,76548,Servicemember,NaN,Phone,2016-06-22,Closed with explanation,Yes,1979989
2,2015-09-04,Credit card,NaN,Credit line increase/decrease,NaN,I WANT TO REQUEST A CREDIT LINE INCREASE OF XX...,NaN,Capital One,NC,271XX,NaN,Consent provided,Web,2015-09-04,Closed with explanation,Yes,1552090
3,2016-05-17,Consumer Loan,Installment loan,Problems when you are unable to pay,NaN,I have asked One Main Financial not to call my...,NaN,"OneMain Financial Holdings, LLC",MO,634XX,NaN,Consent provided,Web,2016-05-20,Closed with non-monetary relief,Yes,1929306
4,2016-07-07,Debt collection,"Other (i.e. phone, health club, etc.)",Improper contact or sharing of info,Contacted employer after asked not to,I have received several calls from a XXXX XXXX...,Company has responded to the consumer and the ...,"GMA Investments, LLC",SC,296XX,NaN,Consent provided,Web,2016-07-07,Closed with explanation,Yes,2001667

**Note: Please note that do all given tasks for test and train both datasets.**

Print shape of train and test datasets

In [ ]:
print(df_train.shape)

(294331, 18)

In [ ]:
print(df_test.shape)

(119606, 17)

Print columns of train and test datasets

In [ ]:
df_train.columns

Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Consumer disputed?', 'Complaint ID'],
      dtype='object')

In [ ]:
df_test.columns

Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Complaint ID'],
      dtype='object')

Check data type for both datasets

In [ ]:
df_train.dtypes

Date received                    object
Product                          object
Sub-product                      object
Issue                            object
Sub-issue                        object
Consumer complaint narrative     object
Company public response          object
Company                          object
State                            object
ZIP code                         object
Tags                             object
Consumer consent provided?       object
Submitted via                    object
Date sent to company             object
Company response to consumer     object
Timely response?                 object
Consumer disputed?               object
Complaint ID                    float64
dtype: object

In [ ]:
df_test.dtypes

Date received                   object
Product                         object
Sub-product                     object
Issue                           object
Sub-issue                       object
Consumer complaint narrative    object
Company public response         object
Company                         object
State                           object
ZIP code                        object
Tags                            object
Consumer consent provided?      object
Submitted via                   object
Date sent to company            object
Company response to consumer    object
Timely response?                object
Complaint ID                     int64
dtype: object

Print missing values in percentage

In [ ]:
percent_missing = df_train.isnull().sum() * 100 / len(df_train)
print(percent_missing)

Date received                    0.000000
Product                          0.000000
Sub-product                     28.928315
Issue                            0.000000
Sub-issue                       61.130156
Consumer complaint narrative    84.329208
Company public response         80.994527
Company                          0.000000
State                            0.805556
ZIP code                         0.807934
Tags                            86.031713
Consumer consent provided?      71.654022
Submitted via                    0.000000
Date sent to company             0.000000
Company response to consumer     0.000340
Timely response?                 0.000340
Consumer disputed?               0.000340
Complaint ID                     0.000340
dtype: float64

In [ ]:
percent_missing_test = df_test.isnull().sum() * 100 / len(df_test)
print(percent_missing_test)

Date received                    0.000000
Product                          0.000000
Sub-product                     28.997709
Issue                            0.000000
Sub-issue                       61.242747
Consumer complaint narrative    84.186412
Company public response         81.221678
Company                          0.000000
State                            0.782569
ZIP code                         0.783406
Tags                            85.805896
Consumer consent provided?      71.651088
Submitted via                    0.000000
Date sent to company             0.000000
Company response to consumer     0.000000
Timely response?                 0.000000
Complaint ID                     0.000000
dtype: float64

Drop columns where more than 25% of the data are missing.

In [ ]:
 df_train=df_train.drop([ 'Sub-product',  'Sub-issue','Consumer complaint narrative', 'Company public response','Tags' ,'Consumer consent provided?'],axis=1)

In [ ]:
df_test=df_test.drop([ 'Sub-product',  'Sub-issue','Consumer complaint narrative', 'Company public response','Tags' ,'Consumer consent provided?'],axis=1)

Extract Date, Month, and Year from the "Date Received" Column and create new fields for year, month, and day.

like, df_train['Year_Received'] = df_train['Date received']........(logic)

In [ ]:

df_train['year'] = pd.DatetimeIndex(df_train['Date received']).year
df_train['month'] = pd.DatetimeIndex(df_train['Date received']).month
df_train['day'] = pd.DatetimeIndex(df_train['Date received']).day

In [ ]:
df_test['year'] = pd.DatetimeIndex(df_test['Date received']).year
df_test['month'] = pd.DatetimeIndex(df_test['Date received']).month
df_test['day'] = pd.DatetimeIndex(df_test['Date received']).day
df_test

,Date received,Product,Issue,Company,State,ZIP code,Submitted via,Date sent to company,Company response to consumer,Timely response?,Complaint ID,year,month,day
0,2015-01-17,Credit card,Customer service / Customer relations,Citibank,TX,75241,Web,2015-01-17,Closed with monetary relief,Yes,1198133,2015,1,17
1,2016-06-22,Consumer Loan,Payment to acct not credited,"Larsen MacColl Partners II, L.P.",TX,76548,Phone,2016-06-22,Closed with explanation,Yes,1979989,2016,6,22
2,2015-09-04,Credit card,Credit line increase/decrease,Capital One,NC,271XX,Web,2015-09-04,Closed with explanation,Yes,1552090,2015,9,4
3,2016-05-17,Consumer Loan,Problems when you are unable to pay,"OneMain Financial Holdings, LLC",MO,634XX,Web,2016-05-20,Closed with non-monetary relief,Yes,1929306,2016,5,17
4,2016-07-07,Debt collection,Improper contact or sharing of info,"GMA Investments, LLC",SC,296XX,Web,2016-07-07,Closed with explanation,Yes,2001667,2016,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119601,2015-02-09,Credit card,Credit determination,Citibank,IL,60803,Web,2015-02-09,Closed with explanation,Yes,1230729,2015,2,9
119602,2012-11-13,Credit card,Balance transfer,Capital One,KS,67114,Web,2012-11-14,Closed with explanation,Yes,189749,2012,11,13
119603,2012-05-15,Mortgage,"Loan modification,collection,foreclosure",Bank of America,CA,95691,Referral,2012-05-15,Closed without relief,Yes,78574,2012,5,15
119604,2015-06-07,Credit reporting,Incorrect information on credit report,Experian,OH,436XX,Web,2015-06-07,Closed with explanation,Yes,1409765,2015,6,7
119605,2015-03-20,Debt collection,Communication tactics,"Northland Group, Inc.",FL,322XX,Web,2015-03-20,Closed with explanation,Yes,1294040,2015,3,20

Convert dates from object type to datetime type

In [ ]:
df_train['Date received']= pd.to_datetime(df_train['Date received'])
df_train['Date sent to company']= pd.to_datetime(df_train['Date sent to company'])
 
df_test['Date received']=pd.to_datetime(df_test['Date received'])
df_test['Date sent to company']=pd.to_datetime(df_test['Date sent to company'])

ParserError: ignored

Calculate the number of days the complaint was with the company

create new field with help given logic<br>
Like, Days held = Date sent to company - Date received

In [ ]:
def diff(a, b):
    return a - b

In [ ]:
df_train['Days held'] = df_train.apply(lambda x: diff(x['Date sent to company'], x['Date received']), axis=1)

In [ ]:
df_test['Days held'] = df_test.apply(lambda x: diff(x['Date sent to company'], x['Date received']), axis=1)

In [ ]:
df_train

Convert "Days Held" to Int(above column)

In [ ]:

#df_train['Days held'] = pd.to_numeric(df_train['Days held'].replace('-',''))
#print(df_train['Days held'])

In [ ]:
#df_test['Days held'] = pd.to_numeric(df_test['Days held'].replace('-',''))
#print(df_test['Days held'])

In [ ]:
df_train['Days held'] = df_train['Days held'].dt.days

In [ ]:
df_test['Days held'] = df_test['Days held'].dt.days

In [ ]:
df_test.dtypes

Drop "Date Received","Date Sent to Company","ZIP Code", "Complaint ID"

In [ ]:
df_train.drop(['Date received','Date sent to company','ZIP code', 'Complaint ID'], axis=1,inplace=True) 
df_train

In [ ]:
df_test.drop(['Date received','Date sent to company','ZIP code', 'Complaint ID'], axis=1,inplace=True)

Impute null values in "State" by Mode 
(find mode and replace nan value)

In [ ]:
df_train['State'].isnull().sum()

In [ ]:
df_test['State'].isnull().sum()

In [ ]:
df_train.fillna(df_train['State'].mode()[0],inplace=True)

In [ ]:
df_test.fillna(df_test['State'].mode()[0],inplace=True)

In [ ]:
df_train['State'].isnull().sum()

Check Missing Values in the dataset

In [ ]:
df_train.isnull().sum()

In [ ]:
df_test.isnull().sum()

Categorize Days into Weeks with the help of 'Days Received'

In [ ]:
df_train['weeks'] = df_train['day']/7
  
df_train

In [ ]:
df_test['weeks'] = df_train['day']/7
  
df_test

Drop "Day_Received" column

In [ ]:
df_train.drop(['day'], axis=1,inplace=True)

In [ ]:
df_test.drop(['day'], axis=1,inplace=True)

Print head of train and test dataset and observe

In [ ]:
df_train.head()

In [ ]:
df_test.head()

Store data of the disputed consumer in the new data frame as "disputed_cons"

In [ ]:
disputed_cons= df_train[['Consumer disputed?']].copy()

In [ ]:
disputed_cons

Plot bar graph for the total no of disputes with the help of seaborn

In [ ]:
sns.catplot(data=disputed_cons, x="Consumer disputed?", kind="count", palette="ch:.30")

In [ ]:

reslt_df=df_train[df_train['Consumer disputed?'] == 'Yes']
reslt_df

In [ ]:
sns.catplot(data=disputed_cons, x="Consumer disputed?", kind="count", palette="ch:.30")

Plot bar graph for the total no of disputes products-wise with help of seaborn

In [ ]:
plt.figure(figsize=(15,20))
sns.catplot(x='Consumer disputed?',kind='count',data=reslt_df, palette='rainbow', hue='Product')
plt.title("Disputed consumers, Divided by product")

Plot bar graph for the total no of disputes with Top Issues by Highest Disputes , with help of seaborn

In [ ]:
TopIssue=reslt_df['Issue'].unique()
TopIssue

In [ ]:
print(reslt_df['Issue'].value_counts())

In [ ]:
options = ['Loan modification,collection,foreclosure','Loan servicing, payments, escrow account','Incorrect information on credit report',"Cont'd attempts collect debt not owed",'Account opening, closing, or management' ]
  
# selecting rows based on condition
df_highdispute = reslt_df[reslt_df['Issue'].isin(options)]  
df_highdispute

In [ ]:
plt.figure(figsize=(15,8))
sns.catplot(x='Consumer disputed?',kind='count',data=df_highdispute, palette='rainbow', hue='Issue')
plt.title("Disputed consumers, Divided by Issue")

Plot bar graph for the total no of disputes by State with Maximum Disputes

In [ ]:
TopIssue=reslt_df['State'].unique()
TopIssue

In [ ]:
reslt_df['State'].value_counts()

In [ ]:
options = ['CA','TX','NY','GA']
df_highdisputeState = reslt_df[reslt_df['State'].isin(options)]  
df_highdisputeState

In [ ]:
plt.figure(figsize=(15,8))
sns.catplot(x='Consumer disputed?',kind='count',data=df_highdisputeState, palette='rainbow', hue='State')
plt.title("Disputed consumers, Divided by Issue")

Plot bar graph for the total no of disputes by Submitted Via diffrent source

In [ ]:
plt.figure(figsize=(15,8))
sns.catplot(x='Consumer disputed?',kind='count',data=reslt_df, palette='rainbow', hue='Submitted via')
plt.title("Disputed consumers, Divided by Issue")

Plot bar graph for the total no of disputes wherevCompany's Response to the Complaints

In [ ]:
response=reslt_df["Timely response?"].unique()
response

In [ ]:
response_df=reslt_df[df_train['Timely response?'] == 'Yes']
response_df

In [ ]:
plt.figure(figsize=(15,8))
sns.catplot(x='Consumer disputed?',kind='count',data=response_df, palette='rainbow',hue='Company response to consumer')
plt.title("Disputed consumers, Divided by Issue")

Plot bar graph for the total no of disputes where Company's Response Leading to Disputes

In [ ]:
pd.crosstab(df_train['Timely response?'], df_train['Consumer disputed?'])

In [ ]:
and_operator = df_train[(df_train['Timely response?'] =='Yes') & (df_train['Consumer disputed?'] == 'Yes')]
and_operator.head()

In [ ]:
plt.figure(figsize=(15,8))
sns.catplot(x='Consumer disputed?',kind='count',data=and_operator, palette='rainbow',hue='Company response to consumer')
plt.title("Disputed consumers, Divided by Issue")

Plot bar graph for the total no of disputes Whether there are Disputes Instead of Timely Response

In [ ]:
and_operator1= df_train[(df_train['Timely response?'] =='No') & (df_train['Consumer disputed?'] == 'Yes')]
and_operator1.head()

In [ ]:
pd.crosstab(df_train['Timely response?'], df_train['Consumer disputed?'])

In [ ]:
plt.figure(figsize=(15,8))
sns.catplot(x='Consumer disputed?',kind='count',data=and_operator, palette='rainbow')
plt.title("Disputed consumers, Divided by Issue")

In [ ]:
pd.crosstab(df_train['Timely response?'], df_train['Consumer disputed?']).plot(kind='bar',title ='Timely Response vs Consumer Disputed' )

Plot bar graph for the total no of disputes over Year Wise Complaints

In [ ]:
plt.figure(figsize=(15,8))
sns.catplot(x='Consumer disputed?',kind='count',data=reslt_df, palette='rainbow',hue='year')
plt.title("Disputed consumers, Divided by Issue")

Plot bar graph for the total no of disputes over Year Wise Disputes

In [ ]:
pd.crosstab(df_train['year'], df_train['Consumer disputed?']).plot(kind='bar',title ='Timely Response vs Consumer Disputed' )

Plot  bar graph for the top companies with highest complaints

In [ ]:
Topcompany=reslt_df['Company']
Topcompany

In [ ]:
reslt_df['Company'].value_counts()

In [ ]:
options = ['Bank of America','Wells Fargo & Company','JPMorgan Chase & Co.','Equifax','Citibank']
df_highdisputecompany = reslt_df[reslt_df['Company'].isin(options)]  
df_highdisputecompany

In [ ]:
plt.figure(figsize=(15,8))
sns.catplot(x='Consumer disputed?',kind='count',data=df_highdisputecompany, palette='rainbow',hue='Company')
plt.title("Disputed consumers, Divided by Issue")

"Days Held" Column Analysis(describe)

In [ ]:
print(df_train['Days held'].describe())

In [ ]:
print(df_test['Days held'].describe())

Convert Negative Days Held to Zero(it is the time taken by authority can't be negative)

In [ ]:
df_train[df_train['Days held'] < 0] = 0
df_test[df_test['Days held'] < 0] = 0

In [ ]:
df_train

In [ ]:
df_test

Drop Days Held with Negative Values

In [ ]:
df_train['Days held'].value_counts()

In [ ]:
df_test['Days held'].value_counts()

In [ ]:
df_train = df_train.drop(df_train.index[df_train['Days held'] < 0])
df_train

In [ ]:
df_test = df_test.drop(df_test.index[df_test['Days held']< 0])
df_test

In [ ]:
from nltk.tokenize import WordPunctTokenizer
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize

In [ ]:
df_train ['Issue'] = df_train['Issue'].astype (str)
df_test ['Issue'] = df_test ['Issue'].astype (str)

Text pre-processing
(It will be cover in upcoming calsses)

In [ ]:
!pip install nltk

In [ ]:
import nltk
import string
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download('omw-1.4')
nltk.download('wordnet')
from nltk.stem import PorterStemmer
from nltk.tokenize import wordpunct_tokenize
relevant_text_train = df_train['Issue']
relevant_text_test = df_test['Issue']
tokenized_data_train = relevant_text_train.apply(lambda x: wordpunct_tokenize(x.lower()))
tokenized_data_test = relevant_text_test.apply(lambda x: wordpunct_tokenize(x.lower()))
def remove_punctuation(text):
    no_punctuation = []
    for w in text:
        if w not in string.punctuation:
            no_punctuation.append(w)
    return no_punctuation
no_punctuation_data_train = tokenized_data_train.apply(lambda x: remove_punctuation(x))
no_punctuation_data_test = tokenized_data_test.apply(lambda x: remove_punctuation(x))
stop_words = stopwords.words('english')
filtered_sentence_train = [w for w in no_punctuation_data_train if not w in stop_words]
filtered_sentence_train = pd.Series(filtered_sentence_train)
filtered_sentence_test = [w for w in no_punctuation_data_test if not w in stop_words]
filtered_sentence_test = pd.Series(filtered_sentence_test)
def lemmatize_text(text):
    lem_text = [WordNetLemmatizer().lemmatize(w,pos = 'v') for w in text]
    return lem_text
lemmatized_data_train = filtered_sentence_train.apply(lambda x:lemmatize_text(x))
lemmatized_data_test = filtered_sentence_test.apply(lambda x:lemmatize_text(x))
def stem_text(text):
    stem_text = [PorterStemmer().stem(w) for w in text]
    return stem_text
stemmed_data_train = lemmatized_data_train.apply(lambda x:stem_text(x))
stemmed_data_test = lemmatized_data_test.apply(lambda x:stem_text(x))
def word_to_sentence(text):
    text_sentence = " ".join(text)
    return text_sentence
clean_data_train = stemmed_data_train.apply(lambda x:word_to_sentence(x))
clean_data_test = stemmed_data_test.apply(lambda x:word_to_sentence(x))

In [ ]:
df_train

In [ ]:
df_train['Issues_cleaned'] = clean_data_train
df_test['Issues_cleaned'] = clean_data_test
df_train = df_train.drop('Issue', axis = 1)
df_test = df_test.drop('Issue', axis = 1)

Drop Unnecessary Columns for the Model Building<br>
like:'Company', 'State', 'Year_Received', 'Days_held'

In [ ]:
df_train=df_train.loc[~(df_train==0).all(axis=1)]

In [ ]:
df_train=df_train.drop(['Company','State','year','Days held'],axis=1)

In [ ]:
df_test

In [ ]:
df_test=df_test.drop(['Company','State','year','Days held'],axis=1)

In [ ]:
df_test

Change Consumer Disputed Column to 0 and 1(yes to 1, and no to 0)

In [ ]:
df_test

In [ ]:
def change(ch):
  if ch=="Yes":
    return 1
  else:
    return 0
df_train['Consumer disputed?']=df_train.apply(lambda x:change(x["Consumer disputed?"]),axis=1)

Create Dummy Variables for catagorical features 
like: 'Product', 'Submitted via', 'Company response to consumer', 'Timely response?'

In [ ]:
import pandas as pd
  
# creating a copy of the original data frame
df_train = df_train.copy()
  
# calling the get_dummies method
# the first parameter mentions the
# the name of the data frame to store the
# new data frame in
# the second parameter is the list of
# columns which if not mentioned
# returns the dummies for all
# categorical columns
df_train = pd.get_dummies(df_train,
                     columns = ['Product','Submitted via','Company response to consumer','Timely response?'])
  
display(df_train)

In [ ]:
import pandas as pd
  
# creating a copy of the original data frame
df_test = df_test.copy()
  
# calling the get_dummies method
# the first parameter mentions the
# the name of the data frame to store the
# new data frame in
# the second parameter is the list of
# columns which if not mentioned
# returns the dummies for all
# categorical columns
df_test= pd.get_dummies(df_test,
                     columns = ['Product','Submitted via','Company response to consumer','Timely response?'])
  
display(df_test)

Concate Dummy Variables and Drop the Original Columns

Calculating TF-IDF

In [ ]:
#df_train['Issues_cleaned'] = df_train['Issues_cleaned'].fillna(' ')

#df_test['Issues_cleaned'] = df_test['Issues_cleaned'].fillna(' ')

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer()
issues_cleaned_train = tf.fit_transform(df_train['Issues_cleaned']).toarray()
issues_cleaned_test = tf.fit_transform(df_test['Issues_cleaned']).toarray()
tf_columns_train = []
tf_columns_test = []
for i in range(issues_cleaned_train.shape[1]):
    tf_columns_train.append('Feature' + str(i+1))
for i in range(issues_cleaned_test.shape[1]):
    tf_columns_test.append('Feature' + str(i+1))
issues_train = pd.DataFrame(issues_cleaned_train, columns = tf_columns_train)
issues_test = pd.DataFrame(issues_cleaned_test, columns = tf_columns_test)
weights = pd.DataFrame(tf.idf_, index = tf.get_feature_names(), columns = ['Idf_weights']).sort_values(by = 'Idf_weights', ascending = False)
weights.head()

Replacing Issues_cleaned by Vectorized Issues

In [ ]:
df_train = df_train.drop('Issues_cleaned', axis = 1)
df_test = df_test.drop('Issues_cleaned', axis = 1)
df_train = pd.concat([df_train, issues_train], axis = 1)
df_test = pd.concat([df_test, issues_test], axis = 1)
Feature168 = [0] * 119606
df_test['Feature168'] = Feature168

observe train and test datasets

In [ ]:
df_train.head(5)

In [ ]:
df_test.head(5)

Observe Shape of new Train and Test Datasets

In [ ]:
df_train.shape

In [ ]:
df_test.shape

Scaling the Data Sets (note:discard dependent variable before doing standardization)

In [ ]:
df_train.dtypes

In [ ]:
from sklearn.preprocessing import StandardScaler
X_train=df_train.drop(columns="Consumer disputed?")
y_train=df_train["Consumer disputed?"]
X_test=df_test
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test=ss.fit_transform(X_test)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

Do feature selection with help of PCA

In [ ]:
pca = PCA()
# Determine transformed features
pca.fit(X_train)
X_train_pca = pca.fit_transform(X_train)
X_test_pca = pca.transform(X_test)

In [ ]:
X_train_pca=pd.DataFrame(X_train_pca,columns=df_train.drop(columns="Consumer disputed?").columns)
X_test=pd.DataFrame(X_test,columns=df_test.columns)

In [ ]:
np.round(pca.explained_variance_ratio_,2)

In [ ]:
np.sum(pca.explained_variance_ratio_)

Select top features which are covering 80% of the information 
(n=53),
<br>store this data into new dataframe,

In [ ]:
pca = PCA(n_components=53)
train_pca = pca.fit_transform(X_train_pca)
train_pca.shape

In [ ]:
np.sum(pca.explained_variance_ratio_)

In [ ]:
pca = PCA(n_components=53)
test_pca = pca.fit_transform(X_test_pca)
test_pca.shape

In [ ]:
np.sum(pca.explained_variance_ratio_)

Split the Data Sets Into X and Y by dependent and independent variables (data selected by PCA)

In [ ]:
X=train_pca
X_test=test_pca

In [ ]:

y = df_train['Consumer disputed?']

Split data into Train and Test datasets
(for test data use test excel file data)

In [ ]:
from sklearn.model_selection import train_test_split, GridSearchCV
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.3, random_state = 17)

Shapes of the datasets

In [ ]:
X_train.shape, X_val.shape, y_train.shape, y_val.shape, X_test.shape

**Model building**
Build given models and mesure their test and validation accuracy 
build given models:
1. LogisticRegression
2. DecisionTreeClassifier
3. RandomForestClassifier
4. AdaBoostClassifier
5. GradientBoostingClassifier
6. KNeighborsClassifier
7. XGBClassifier

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
#from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)

In [ ]:
clr=LogisticRegression

Final Model and Prediction for test data file

Export Predictions to CSV

In [ ]:
df_test["Consumer disputed?"]=y_test

In [ ]:
df_test.to_csv("/content/new_created.csv")